img{
display:flex;
margin: 0 auto;
}
html{
 
    
    }
    
body{



}


body #a{
background-color: rgb(241, 241, 241);
z-index: -999;


}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}